Repository boostcamp-2020/IssueTracker-22, pull requests merged in 2020-11, with the labels that each got.

#38 #8 FE Github 로그인 화면 구현
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/assets/styles/GlobalStyle.js
  frontend/src/components/Header.js
  frontend/src/constants/api.js
  frontend/src/constants/path.js
  frontend/src/containers/login/LoginContainer.js
  frontend/src/containers/login/components/FormBox.js
  frontend/src/containers/login/components/LoginButton.js
  frontend/src/containers/login/components/LoginForm.js
  frontend/src/containers/login/components/Title.js
  frontend/src/index.js
Labels: feature, front-end

#39 #9 BE Github OAuth Login api 구현
  backend/app.js
  backend/lib/passport.js
  backend/middlewares/auth.js
  backend/middlewares/middleware.js
  backend/package-lock.json
  backend/package.json
  backend/routes/index.js
  backend/routes/users/index.js
  backend/routes/users/users.controller.js
Labels: back-end, feature

#41 #14 BE 이슈 목록 조회 API 구현
  backend/models/index.js
  backend/routes/index.js
  backend/routes/issues/index.js
  backend/routes/issues/issues.controller.js
Labels: back-end, feature

#42 FE React Router 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/constants/path.js
  frontend/src/pages/Issue.js
  frontend/src/pages/Login.js
  frontend/src/pages/index.js
  frontend/src/routes.js
Labels: front-end

#43 #11 FE 이슈 목록 레이아웃 구현
  README.md
  frontend/package-lock.json
  frontend/src/assets/svgPath.js
  frontend/src/containers/issue/components/issueAssignee.js
  frontend/src/containers/issue/components/issueBox.js
  frontend/src/containers/issue/components/issueList.js
  frontend/src/containers/issue/components/issueLowerBox.js
  frontend/src/containers/issue/components/issueToolbar.js
  frontend/src/containers/issue/components/issueUpperBox.js
  frontend/src/containers/issue/components/label.js
  frontend/src/containers/issue/issueContainer.js
  frontend/src/lib/relativeTime.js
Labels: front-end

#44 [BE] 레이블 목록 조회 API 구현 #36
  backend/__tests__/api/label.js
  backend/package-lock.json
  backend/package.json
  backend/routes/index.js
  backend/routes/labels/index.js
  backend/routes/labels/labels.controller.js
Labels: back-end, feature

#46 #24 BE 마일스톤 목록 조회 API 구현
  backend/__tests__/api/milestone.js
  backend/routes/index.js
  backend/routes/labels/labels.controller.js
  backend/routes/milestones/index.js
  backend/routes/milestones/milestones.controller.js
Labels: back-end, feature

#47 #31 BE 새로운 이슈 추가 API 구현
  backend/routes/issues/index.js
  backend/routes/issues/issues.controller.js
  backend/routes/users/users.controller.js
Labels: back-end, feature

#49 #17 [BE] 이슈 상세정보 API 구현
  backend/__tests__/api/issue.detail.js
  backend/routes/issues/index.js
  backend/routes/issues/issues.controller.js
Labels: back-end, feature

#51 #12 [FE] 이슈 목록 상단에 각 화면으로 이동하는 이슈 생성, 레이블, 마일스톤 버튼 구현
  frontend/src/assets/styles/caret.js
  frontend/src/assets/svgPath.js
  frontend/src/containers/issue/components/searchFilter.js
  frontend/src/containers/issue/components/toolButtons.js
  frontend/src/containers/issue/issueContainer.js
  frontend/src/pages/Issue.js
Labels: feature, front-end

#52 #15 FE 이슈 상세 UI 구현
  frontend/src/containers/detail/IssueDetailContainer.js
  frontend/src/containers/detail/components/CommentList.js
  frontend/src/containers/detail/components/IssueContent.js
  frontend/src/containers/detail/components/IssueDetail.js
  frontend/src/containers/detail/components/List.js
  frontend/src/containers/detail/components/Side.js
  frontend/src/containers/detail/components/Title.js
  frontend/src/containers/detail/components/TitleBox.js
  frontend/src/containers/detail/components/TitleDetail.js
  frontend/src/containers/detail/components/TitleEditButton.js
Labels: feature, front-end

#53 #13 이슈 작성 form UI 구현
  frontend/src/constants/api.js
  frontend/src/constants/path.js
  frontend/src/containers/issue-form/IssueFormContainer.js
  frontend/src/containers/issue-form/components/CancelButton.js
  frontend/src/containers/issue-form/components/CommentEditor.js
  frontend/src/containers/issue-form/components/SubmitButton.js
  frontend/src/containers/user-profile/UserProfileContainer.js
  frontend/src/pages/CreateIssue.js
  frontend/src/pages/index.js
  frontend/src/routes.js
  frontend/webpack.config.js
Labels: feature, front-end

#55 BE 마일스톤 조회/ 이슈 생성 API 수정
  backend/__tests__/api/issue.js
  backend/public/bundle.js
  backend/routes/issues/issues.controller.js
  backend/routes/milestones/milestones.controller.js
Labels: back-end

#56 FE 이슈 생성, 레이블, 마일스톤 버튼 구현 / useLabels, useMilestones hook 구현
  frontend/src/assets/icon/GitHubIcon.js
  frontend/src/assets/icon/LabelIcon.js
  frontend/src/assets/icon/MilestoneIcon.js
  frontend/src/assets/styles/GlobalStyle.js
  frontend/src/components/Header.js
  frontend/src/components/LabelLinkButton.js
  frontend/src/components/LinkButton.js
  frontend/src/components/MilestoneLinkButton.js
  frontend/src/components/NavBar.js
  frontend/src/constants/api.js
  frontend/src/constants/path.js
  frontend/src/containers/issue/IssueContainer.js
  frontend/src/containers/issue/components/NewIssueButton.js
  frontend/src/containers/issue/components/ToolButtons.js
  frontend/src/lib/useLabels.js
  frontend/src/lib/useMilestones.js
  frontend/src/pages/Issue.js
Labels: feature, front-end

#57 FE 이슈 생성/상세 화면의 Sidebar Form 컴포넌트 구현
  frontend/src/constants/selectMenuMode.js
  frontend/src/containers/issue-form/IssueFormContainer.js
  frontend/src/containers/sidebar-form/SelectMenuContainer.js
  frontend/src/containers/sidebar-form/SidebarFormContainer.js
  frontend/src/containers/sidebar-form/components/LabelItem.js
  frontend/src/containers/sidebar-form/components/MilestoneItem.js
  frontend/src/containers/sidebar-form/components/ProfileImage.js
  frontend/src/containers/sidebar-form/components/SelectMenuList.js
  frontend/src/containers/sidebar-form/components/UserItem.js
  frontend/src/lib/useFetch.js
Labels: feature, front-end

#63 #22 BE 이슈 코멘트 추가 API 구현
  backend/routes/comments/comments.controller.js
  backend/routes/comments/index.js
  backend/routes/index.js
Labels: back-end, feature

#62 FE 로그인 성공 시 user 정보 userContext로 저장
  backend/routes/users/index.js
  backend/routes/users/users.controller.js
  frontend/src/App.js
  frontend/src/constants/api.js
  frontend/src/lib/useAuth.js
  frontend/src/lib/userContext.js
  frontend/src/lib/userProvider.js
  frontend/src/pages/Login.js
Labels: feature, front-end

#66 FE 이슈 목록 검색창 및 필터 구현
  frontend/src/assets/svgPath.js
  frontend/src/containers/issue/IssueContainer.js
  frontend/src/containers/issue/components/SearchBar.js
  frontend/src/containers/issue/components/SearchFilter.js
  frontend/src/containers/issue/components/ToolButtons.js
Labels: feature, front-end

#67 FE 레이블 목록 UI 구현
  frontend/src/assets/icon/LabelIcon.js
  frontend/src/assets/icon/MilestoneIcon.js
  frontend/src/components/IssueLabel.js
  frontend/src/components/LabelLinkButton.js
  frontend/src/components/LinkButton.js
  frontend/src/components/MilestoneLinkButton.js
  frontend/src/components/NavBar.js
  frontend/src/components/NewButton.js
  frontend/src/containers/issue/components/ToolButtons.js
  frontend/src/containers/label/LabelContainer.js
  frontend/src/containers/label/components/LabelItem.js
  frontend/src/containers/label/components/LabelList.js
  frontend/src/lib/color.js
  frontend/src/lib/useLabels.js
  frontend/src/lib/useMilestones.js
  frontend/src/pages/Issue.js
  frontend/src/pages/Label.js
  frontend/src/pages/index.js
  frontend/src/routes.js
  frontend/webpack.config.js
Labels: feature, front-end

#68 FE 이슈 상세 목록 사이드바 반영
  frontend/src/containers/detail/IssueDetailContainer.js
  frontend/src/containers/detail/components/Side.js
  frontend/src/containers/sidebar-form/SidebarFormContainer.js
Labels: feature, front-end

#69 BE 이슈 title / description update api 구현
  backend/routes/issues/index.js
  backend/routes/issues/issues.controller.js
Labels: back-end, feature

#70 FE 이슈 작성 화면 image 업로드 구현 / 사이드바 select menu의 item 선택 기능 구현(& 체크 표시)
  .gitignore
  backend/public/bundle.js
  frontend/src/assets/icon/CheckIcon.js
  frontend/src/containers/detail/components/CommentList.js
  frontend/src/containers/detail/components/CreateComment.js
  frontend/src/containers/detail/components/IssueDetail.js
  frontend/src/containers/issue-form/IssueFormContainer.js
  frontend/src/containers/issue-form/IssueMainForm.js
  frontend/src/containers/issue-form/components/CommentEditor.js
  frontend/src/containers/sidebar-form/SelectMenuContainer.js
  frontend/src/containers/sidebar-form/SidebarFormContainer.js
  frontend/src/containers/sidebar-form/components/LabelItem.js
  frontend/src/containers/sidebar-form/components/MilestoneItem.js
  frontend/src/containers/sidebar-form/components/ProfileImage.js
  frontend/src/containers/sidebar-form/components/SelectMenuList.js
  frontend/src/containers/sidebar-form/components/SelectedLabelItem.js
  frontend/src/containers/sidebar-form/components/SelectedMilestoneItem.js
  frontend/src/containers/sidebar-form/components/SelectedUserItem.js
  frontend/src/containers/sidebar-form/components/UserItem.js
  frontend/src/containers/user-profile/UserProfileContainer.js
  frontend/src/lib/imageUploadHandler.js
  frontend/src/lib/useFetch.js
  frontend/src/pages/CreateIssue.js
Labels: feature, front-end

#72 FE 레이블 추가 UI 구현
  frontend/src/assets/icon/RefreshIcon.js
  frontend/src/components/Button.js
  frontend/src/components/IssueLabel.js
  frontend/src/components/NewButton.js
  frontend/src/containers/issue/IssueContainer.js
  frontend/src/containers/label/LabelContainer.js
  frontend/src/containers/label/components/ColorPicker.js
  frontend/src/containers/label/components/Form.js
  frontend/src/containers/label/components/LabelForm.js
  frontend/src/containers/label/components/LabelItem.js
  frontend/src/lib/api.js
  frontend/src/lib/color.js
  frontend/src/lib/useLabels.js
Labels: feature, front-end

#71 FE 이슈 상세 화면 사이드바 출력
  frontend/src/containers/detail/IssueDetailContainer.js
  frontend/src/containers/detail/components/CreateComment.js
  frontend/src/containers/detail/components/Side.js
  frontend/src/containers/sidebar-form/SelectMenuContainer.js
  frontend/src/containers/sidebar-form/SidebarFormContainer.js
  frontend/src/containers/sidebar-form/components/LabelItem.js
  frontend/src/containers/sidebar-form/components/MilestoneItem.js
  frontend/src/containers/sidebar-form/components/SelectMenuList.js
  frontend/src/containers/sidebar-form/components/UserItem.js
Labels: feature, front-end

#73 FE 이슈 상세 화면 제목 수정 기능 구현
  frontend/src/constants/api.js
  frontend/src/containers/detail/IssueDetailContainer.js
  frontend/src/containers/detail/components/Title.js
  frontend/src/containers/detail/components/TitleEditButton.js
Labels: feature, front-end

#74 BE label 추가, 수정, 삭제 API 구현
  backend/routes/labels/index.js
  backend/routes/labels/labels.controller.js
Labels: feature, front-end

#75 FE 이슈 상세 description 수정 기능 구현
  frontend/src/containers/detail/components/IssueDetail.js
Labels: feature, front-end

#76 FE 마일스톤 목록 화면 구현
  backend/routes/milestones/milestones.controller.js
  frontend/src/assets/icon/CalendarIcon.js
  frontend/src/components/ProgressBar.js
  frontend/src/constants/path.js
  frontend/src/containers/milestone-list/MilestoneListContainer.js
  frontend/src/containers/milestone-list/components/Button.js
  frontend/src/containers/milestone-list/components/MilestoneItem.js
  frontend/src/containers/milestone-list/components/MilestoneList.js
  frontend/src/containers/sidebar-form/components/MilestoneItem.js
  frontend/src/containers/sidebar-form/components/SelectedMilestoneItem.js
  frontend/src/lib/formalizeDateString.js
  frontend/src/pages/MilestoneList.js
  frontend/src/pages/index.js
  frontend/src/routes.js
Labels: feature, front-end

#77 FE BE 이슈 목록 레이아웃 및 검색창 기능 구현
  backend/routes/issues/issues.controller.js
  frontend/src/components/FilterAssignee.js
  frontend/src/components/FilterAuthor.js
  frontend/src/components/FilterLabel.js
  frontend/src/components/FilterMilestones.js
  frontend/src/components/FilterProjects.js
  frontend/src/components/Modal.js
  frontend/src/components/ToolbarModal.js
  frontend/src/containers/issue/IssueContainer.js
  frontend/src/containers/issue/components/IssueList.js
  frontend/src/containers/issue/components/IssueLowerBox.js
  frontend/src/containers/issue/components/IssueToolbar.js
  frontend/src/containers/issue/components/IssueUpperBox.js
  frontend/src/containers/issue/components/Label.js
  frontend/src/containers/issue/components/SearchBar.js
  frontend/src/containers/issue/components/SearchFilter.js
  frontend/src/lib/query.js
  frontend/src/lib/useIssues.js
Labels: back-end, feature, front-end

#79 FE / BE 이슈 상세 화면 사이드바 수정 기능 구현 / 관련 api 수정
  backend/routes/issues/issues.controller.js
  frontend/src/containers/detail/components/Side.js
  frontend/src/containers/detail/components/Title.js
  frontend/src/containers/detail/components/TitleDetail.js
  frontend/src/containers/sidebar-form/SelectMenuContainer.js
  frontend/src/containers/sidebar-form/SidebarFormContainer.js
  frontend/src/containers/sidebar-form/components/LabelItem.js
  frontend/src/containers/sidebar-form/components/MilestoneItem.js
  frontend/src/containers/sidebar-form/components/SelectMenuList.js
  frontend/src/containers/sidebar-form/components/UserItem.js
Labels: back-end, feature, front-end

#80 FE 마일스톤 등록 화면 구현 / api 요청 연동
  backend/routes/issues/index.js
  backend/routes/milestones/index.js
  frontend/src/containers/issue-form/IssueMainForm.js
  frontend/src/containers/issue-form/components/SubmitButton.js
  frontend/src/containers/milestone-form/MilestoneFormContainer.js
  frontend/src/pages/CreateMilestone.js
  frontend/src/pages/index.js
  frontend/src/routes.js
Labels: feature, front-end

#82 FE 이슈 상세 화면 close / reopen 버튼 기능 구현
  .gitignore
  backend/routes/issues/issues.controller.js
  frontend/src/containers/detail/IssueDetailContainer.js
  frontend/src/containers/detail/components/ChangeStatusButton.js
  frontend/src/containers/detail/components/CreateComment.js
  frontend/src/containers/detail/components/TitleDetail.js
Labels: feature, front-end

#84 FE 이슈 목록 툴바 필터 모달 적용
  frontend/src/components/ToolbarModal.js
  frontend/src/components/ToolbarModalItem.js
  frontend/src/components/ToolbarModalItemContainer.js
  frontend/src/components/ToolbarModalItemList.js
  frontend/src/constants/toolbarModalMode.js
  frontend/src/containers/issue/components/IssueToolbar.js
  frontend/src/lib/query.js
Labels: bug, feature, front-end
